.list-page {
  .order-list {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 96px;
    line-height: 96px;
    font-size: 28px;
    color: rgba($color: #000000, $alpha: 0.5);
    background-color: #fff;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.05);
    display: flex;
    .item {
      flex: 1;
      text-align: center;
      &.active {
        color: #834b16;
      }
    }
  }
  .group-list {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    font-size: 28px;
    color: rgba($color: #000000, $alpha: 0.5);
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 10;
    .item {
      flex: 1;
      text-align: center;
      font-weight: bold;
      padding: 0 20px;
      &.active {
        color: #834b16;
      }
    }
  }
  .filter {
    position: fixed;
    bottom: 64px;
    width: 160px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: #18ad61;
    border-radius: 48px;
    font-size: 32px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}
