.detail-page {
  .top {
    background-color: #fff;
    padding-top: 64px;
    padding-bottom: 50px;
    .icon {
      text-align: center;
      image {
        width: 160px;
        height: 160px;
      }
    }
    .name {
      margin-top: 16px;
      text-align: center;
      font-size: 40px;
      color: #834b16;
    }
    .infos {
      margin-top: 32px;
      display: flex;
      .info {
        flex: 1;
        text-align: center;
        .title {
          color: rgba($color: #000000, $alpha: 0.5);
          font-size: 24px;
        }
        .text {
          margin-top: 8px;
          color: #000000;
          font-size: 32px;
        }
      }
    }
  }
  .middle {
    background-color: #fff;
    margin-top: 16px;
    padding: 32px;
    .title {
      font-size: 28px;
      color: #000000;
      .expire-days {
        color: #dc4343;
        font-size: 28px;
        margin-left: 24px;
      }
    }
    .months {
      margin-top: 32px;
      margin-bottom: -32px;
      margin-left: -8px;
      margin-right: -8px;
      color: rgba($color: #000000, $alpha: 0.3);
      font-size: 28px;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      .month {
        flex: 0 0 25%;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 32px;
        View {
          background-color: #f3f3f3;
          border-radius: 16px;
          height: 64px;
          line-height: 64px;
          text-align: center;
        }
        &.active {
          View {
            background-color: #f7eabe;
            color: #834b16;
          }
        }
      }
    }
  }
  .bottom {
    background-color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 32px;
    .title {
      font-size: 28px;
      color: #000000;
    }
    .text {
      margin-top: 32px;
      color: #834b16;
      font-size: 80px;
    }
  }
}
