/* The Color of O2Team Brand */
$color-brand: #834b16;
$color-brand-light: #40c28c;
$color-brand-dark: #008b52;

/* Text Color */
$color-text-base: #000 !default; // 文字的基本色
$color-text-base-inverse: #fff !default; // 反色
$color-text-secondary: #8f9b95 !default; // 辅助色
$color-text-placeholder: #9c9fa1 !default;

/* Link */
$color-link: #834b16 !default;
$color-link-hover: #008b52 !default;
$color-link-active: #40c28c !default;
$color-link-disabled: #bfbfbf !default;
/* 边框颜色 */
$color-border-base: #e5e5e5 !default;
$color-border-grey: #e5e5e5 !default;

/* 图标颜色 */
$color-icon-base: #e5e5e5 !default;
@import '~taro-ui/dist/style/index.scss';
#app {
  background-color: #f5f5f5;
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f5f5f5;
  .g-empty {
    text-align: center;
    padding-top: 300px;
    .icon {
      image {
        width: 128px;
        height: 128px;
      }
    }
    .tip {
      margin-top: 10px;
      Text {
        font-size: 28px;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  .animal-list {
    background-color: #fff;
    border-top: 2px solid rgba($color: #000000, $alpha: 0.05);
    .animal {
      position: relative;
      display: flex;
      height: 128px;
      line-height: 128px;
      padding: 0 32px;
      color: #000000;
      font-size: 32px;
      &::after {
        content: ' ';
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 144px;
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.05);
      }
      .icon {
        width: 112px;
        display: flex;
        align-items: center;
        image {
          width: 80px;
          height: 80px;
        }
      }
      .name {
        flex: 1;
        .expire-days {
          color: #dc4343;
          font-size: 28px;
          margin-left: 24px;
        }
      }
      .price {
      }
    }
    .group_bar {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #f3f3f3;
      color: rgba($color: #000000, $alpha: 0.5);
      padding: 4px 32px;
      font-size: 24px;
    }
  }
}

view {
  box-sizing: border-box;
}
